*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Manrope", system-ui;
    background-color: hsl(210, 46%, 95%);
}

.container{
    display: flex;
    flex-flow: row nowrap;
    width: 800px;
    min-height: 200px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 1px 1px 2px hsl(217, 19%, 35%);
    position: relative;
}

.img-container{
    width: 40%;
}

.img-container img{
    width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}

.author-div{
    margin: 1rem 0 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.paragraph{
    margin: 1rem 0 0 0;
    font-size: 13px;
}

.text-container{
    width: 60%;
    padding: 2rem;
}

h1{
    font-size: 1.5rem;
    color: hsl(217, 19%, 35%)
}

p{
    color: hsl(214, 17%, 51%);
}

.namenddate{
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
}

.nad-img img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.name_of_author{
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}

.icon-div{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.share-expand{
    display: none;
}

.active{
    background-color: hsl(217, 19%, 35%);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    min-width: 200px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    bottom: 7rem;
    right: -3rem;
    z-index: 1;
}

.share-expand p{
    color: hsl(214, 17%, 51%);
    letter-spacing: 4px;
}