*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Manrope", sans-serif;
    background-color: hsl(210, 46%, 95%);
}

.container{
    display: flex;
    flex-flow: row nowrap;
    width: 800px;
    min-height: 200px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 1px 1px 2px hsl(217, 19%, 35%);
}

.img-container{
    width: 40%;
}

.img-container img{
    width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}

.text-container{
    width: 60%;
    padding: 1rem;
}

h1{
    font-size: 1.5rem;
}